<div class="contact-list">
  <div class="contact-card" *ngFor="let contact of contacts">
    <div class="contact-info">
      <div class="field">
        <span class="label">First Name:</span>
        <span class="value">{{ contact.firstName }}</span>
      </div>
      <div class="field">
        <span class="label">Last Name:</span>
        <span class="value">{{ contact.lastName }}</span>
      </div>
      <div class="field">
        <span class="label">Phone Number:</span>
        <span class="value">{{ contact.phoneNumber }}</span>
      </div>
      <button (click)="viewContactDetails(contact.id)">View Details</button>
      <button (click)="openEditForm(contact)">Edit</button>
      <button (click)="deleteContact(contact.id)">Delete</button>
    </div>
  </div>
</div>
